.h1{
    color: #00f;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 1.5rem;
}
.parrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}